.wrapper {
  font-family: 'Playfair Display', serif;
}

.intro .title {
  font-family: 'Spectral SC', serif;
  font-size: 32px;
}

.contacts .container p {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
