.wrapper {
  font-family: 'Playfair Display', serif;
}

.intro .title {
  font-family: 'Spectral SC', serif;
  font-size: 32px;
  text-align: center;
}

.contacts .container p {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

.card-text p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}
