.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about {
  width: 800px;
  margin: 0 auto;
}

.card {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.card-text{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 25px;
}

.card-text h2 {
  margin-bottom: 10px;
}

.left {
  order: -1;
}

.right {
  order: 1;
}

.video-block {
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.feedback-title  h1 {
  text-align: center;
  margin: 25px 0 25px 0;
}

.feedback .container {
  display: flex;
  flex-direction: row;
}

.feedback-card {
  margin: 0 25px 50px 25px;
  text-align: center;
  flex-basis: 33.3%;
}

.price-title h1 {
  text-align: center;
  margin: 25px 0 25px 0;
}

.prices .container {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.price {
  margin: 0 25px 50px 25px;
  text-align: center;
  flex-basis: 33.3%;
}

.price-about h2{
  margin: 1em;
}

.price {
  position: relative;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 20px 0 20px 0;
  position: absolute;
  bottom: 0;
}

.feedback-paragraph {
  margin: 1.5em;
}

.price-paragraph {
  margin: 1.5em;
  font-size: 20px;
  list-style: none;
}

.contacts-title {
  text-align: center;
  margin: 20px 0 20px 0;
}

.contacts .container {
  margin: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.address p {
  margin: 20px;
}

@media (max-width: 640px) {
  .wrapper, .intro, .about, .video-block, .feedback .container, .prices .container, .contacts .container {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}

@media (max-width: 960px) {
  .wrapper, .intro, .about, .video-block, .feedback .container, .prices .container, .contacts .container {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}
