.wrapper {
  background-image: url("../files/background_intro.jpg");
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img {
  width: 200px;
  margin: 25px 0 25px 0;
}

.card-image img {
  height: 200px;
  width: 200px;
  padding: 3px;
  border-radius: 100%;
  margin: 25px;
  border: black 2px solid;
}

.feedback-image img {
  height: 128px;
  width: 128px;
  padding: 3px;
  border-radius: 100%;
  margin: 25px;
  border: black 2px solid;
}

.feedback-card {
  background: linear-gradient( #fff, #ccc );
}

.basic {
  background: linear-gradient( #bd9b9b, #bd9b9b);
}

.expanded {
  background: linear-gradient( rgba(192, 192, 192, 0.5), silver);
}

.vip {
  background: linear-gradient( rgba(255, 215, 0, 0.5), gold );
}
